@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'font-text';
  src: url('/assets/fonts/Philosopher-Bold.ttf') format('ttf'),
       url('/assets/fonts/Philosopher-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}